### MISSING DATA

+ You can identify missing data by column using `.isna()` and `.sum()` methods.
+ We can use `.dropna()` and `.fillna()` methods to handle the missing values.

In [1]:
import pandas as pd
import numpy as np

In [5]:
products = pd.read_csv("product.csv")
products

## check for the missing values
products.isna().sum()

PRODUCT_ID              0
MANUFACTURER            0
DEPARTMENT              0
BRAND                   0
COMMODITY_DESC          0
SUB_COMMODITY_DESC      0
CURR_SIZE_OF_PRODUCT    0
dtype: int64

In [6]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92353 entries, 0 to 92352
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PRODUCT_ID            92353 non-null  int64
 1   MANUFACTURER          92353 non-null  int64
 2   DEPARTMENT            92353 non-null  object
 3   BRAND                 92353 non-null  object
 4   COMMODITY_DESC        92353 non-null  object
 5   SUB_COMMODITY_DESC    92353 non-null  object
 6   CURR_SIZE_OF_PRODUCT  92353 non-null  object
dtypes: int64(2), object(5)
memory usage: 4.9+ MB

In [9]:
oil_data = pd.read_csv("oil.csv")
oil_data.isna().sum()

date           0
dcoilwtico    43
dtype: int64

In [10]:
oil_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

In [15]:
## drop the issing values by .dropna() method.
oil = oil_data.dropna()
oil

            date  dcoilwtico
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1175 rows x 2 columns]

In [16]:
oil.isna().sum()

date          0
dcoilwtico    0
dtype: int64

In [17]:
oil_data.isna().sum()

date           0
dcoilwtico    43
dtype: int64

In [19]:
oil_filled = oil_data.fillna(oil_data.mean())

In [20]:
oil_filled.isna().sum()

date          0
dcoilwtico    0
dtype: int64

In [21]:
oil_data.mean()

dcoilwtico    67.714366
dtype: float64