### NUMERIC SERIES OPERATIONS

|    Operator      || Pyhon Operator || Pandas Operator |
| ----------       || -------------- || --------------- |
|  Addition        || +              ||  .add()         |
|  Subtraction     ||   -            ||  .sub(), .subtract()         |
|  Multiplication  ||  *             ||   .mul(), .multiply()         |
| Division         ||   /            ||   .div(), .truediv(), .divide()         |
|  Floor Division  ||   //           ||   .floordiv()         |
|  Modulo          ||   %            ||   .mod()         |
|  Exponential     ||   **           ||   .pow()       |

In [1]:
import pandas as pd
import numpy as np

In [9]:
sales = [0,5,155,0,518]
monday_sales = pd.Series(sales, name = "Monday Sales")
print(monday_sales)

print("*"*80)
print(monday_sales + 2)
print("*"*80)
print(monday_sales.add(2))

print("*"*80)
#"$" + monday_sales.astype("float").astype("string")

0      0
1      5
2    155
3      0
4    518
Name: Monday Sales, dtype: int64
********************************************************************************
0      2
1      7
2    157
3      2
4    520
Name: Monday Sales, dtype: int64
********************************************************************************
0      2
1      7
2    157
3      2
4    520
Name: Monday Sales, dtype: int64
********************************************************************************

### STRING METHODS

|   String Method   ||    Description     |
|   -----------     ||   -------------    |
| .strip(), .lstrip(), .rstrip()  || Removes all leading / trailing Characters . |
| .upper(), .lower()              || Converts all Characters to Upper or Lower Characters. |
| .slice(start, stop, step)       || Applies a Slice to the Strings in the Series  | 
| .count("string")                || Counts all instances of a given string.  |
| .contains("string")             || Returns True if given string is found, or return False |
| .replace("a", "b")              || Replaces instances of string "a" with string "b" |
| .split("delimeter", expand = True) || Splits string based on a given delimeter string, and returns a DataFrame with a Series for each Splits. |
| .len()                             || Returns the length of each string in the Series. |
| .startswith("string"), .endswith("string") || Returns True if the string starts or ends with given string, or False.  |

In [16]:
monday_sales.count()

5

In [18]:
monday_sales.replace(0, "1000")

0    1000
1       5
2     155
3    1000
4     518
Name: Monday Sales, dtype: object

In [33]:
items = ["coffee","bananas","tea","cocunut","sugar"]
items_series = pd.Series(items, name = "Items")
print(items_series)
print("*"*80)
print(items_series.str.contains("bananas"))
print("*"*80)
print(items_series.str.upper())
print("*"*80)
print(items_series.str.lower())
print("*"*80)
print(items_series.str.slice(2,5,1))
print("*"*80)
print(items_series.str.count("bananas"))
print("*"*80)
print(items_series.str.replace("bananas","mouse"))
print("*"*80)
print(items_series.str.startswith("bana"))
print("*"*80)
print(items_series.str.endswith("gar"))

0     coffee
1    bananas
2        tea
3    cocunut
4      sugar
Name: Items, dtype: object
********************************************************************************
0    False
1     True
2    False
3    False
4    False
Name: Items, dtype: bool
********************************************************************************
0     COFFEE
1    BANANAS
2        TEA
3    COCUNUT
4      SUGAR
Name: Items, dtype: object
********************************************************************************
0     coffee
1    bananas
2        tea
3    cocunut
4      sugar
Name: Items, dtype: object
********************************************************************************
0    ffe
1    nan
2      a
3    cun
4    gar
Name: Items, dtype: object
********************************************************************************
0    0
1    1
2    0
3    0
4    0
Name: Items, dtype: int64
********************************************************************************
0     coffee
1      mouse
2        tea
3    cocunut
4      sugar
Name: Items, dtype: object
********************************************************************************
0    False
1     True
2    False
3    False
4    False
Name: Items, dtype: bool
********************************************************************************
0    False
1    False
2    False
3    False
4     True
Name: Items, dtype: bool